@charset "gb2312";
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../Images/logindi.gif);
	background-repeat: repeat-x;
}
#logo {
	background-image: url(../Images/welcome.gif);
	height: 138px;
	width: 400px;
	margin-left: 50px;
	margin-top: 120px;
}
#jz {
	background-image: url(../Images/buding.gif);
	height: 214px;
	width: 280px;
	position: absolute;
	left: 0px;
	bottom: 0px;
}
#login {
	margin-left: 60%;
}
#kuang {
	width: 250px;
	border: 1px solid #0099FF;
	padding: 10px;
	background-color: #D1F0F8;
}
.input {
	width: 130px;
	padding: 2px 5px;
	background: #FFFFFF;
	border: 1px solid #bbbbbb;
	color: #6B6B6B;
	font-size: 12px;
}
.btn {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 18px;
	padding-top: 1px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 5px;
	background-color: #0099CC;
	border: 1px solid #0099CC;
}
.fgx {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #0099FF;
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 25px;
	font-weight: bold;
	text-indent: 10px;
}
.red {
	color: #FF3300;
	font-size: 12px;
	line-height: 20px;
}
#kuang table {
	font-size: 12px;
	line-height: 30px;
}
#kuang table a {
	color: #0066ff;
}
#kuang table a:hover {
	color: #ff6600;
}
