@charset "gb2312";
body {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	font-family: "ו";


}

.con {
	border: 1px solid #CCCCCC;
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
	background-color: #eeeeee;
}
.input {
	border: 1px solid #979797;
	width: 100px;
	font-size: 12px;
}
.12text {
	font-size: 12px;
	line-height: 25px;
}

.basicinfo {
	margin-top: 5px;
	float: left;
	width: 24%;
	border: 1px solid #CCCCCC;
	margin-left: 5px;
	clear: left;
	background-color: #eeeeee;
}
.basicinfo2 {
	margin-top: 5px;
	border: 1px dashed #CCCCCC;
	margin-right: 5px;
	margin-left: 76%;
}
.pipinfo {
	margin-top: 5px;
	border: 1px solid #CCCCCC;
	margin-right: 5px;
	margin-left: 26%;
	background-color: #eeeeee;

}
.pipinfo2 {
	margin-top: 5px;
	border: 1px dashed #CCCCCC;
	float: left;
	margin-left: 5px;
	width: 74%;
	clear: left;
}

.kuang5 {
	margin: 5px;
	padding: 5px;
	border: 1px solid #CCCCCC;
	background-color: #FFFFFF;
}
.tools {
	margin: 6px;
}

.Result {
	font-size: 12px;
	line-height: 25px;
	color: #000000;
	background-image: url(../Images/page_plugin.png);
	background-repeat: no-repeat;
	background-position: left center;
	text-indent: 20px;
	margin: 5px;
}
.12text20 {
	font-size: 12px;
	line-height: 20px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.footall {
	clear: both;
}
.btns {
	margin: 5px;
	padding: 5px;
	height: 25px;
}.tabkuang {
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
}
.tabbtn {
	margin-right: 5px;
	margin-left: 5px;
	background-image: url(../Images/lineccc.gif);
	background-repeat: repeat-x;
	height: 26px;
}
.tabul {
	margin: 0px;
	padding: 0px;
}
.tabul  li {
	float: left;
}
.tabul a {
	font-size: 12px;
	line-height: 21px;
	color: #000000;
	font-weight: normal;
	width: 110px;
	display: block;
	text-decoration: none;
	background-image: url(../Images/tabbtn.gif);
	background-repeat: no-repeat;
	text-align: center;
}
.tabul   a.current {
	background-image: url(../Images/tabbtn-s.gif);
	background-repeat: no-repeat;
}
table {
	font-size: 12px;
	color: #000000;
}
.tab1 {
	margin-bottom: 10px;
	text-align: center;
	line-height: 20px;
	background-color: #FFFFFF;
}

.tab1 td{
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #ebebeb;
	border-bottom-color: #ebebeb;
}
.tab1 .tabbt {
	font-weight: bold;
	background-image: url(../Images/grid-hrow.gif);
	background-repeat: repeat-x;
	background-position: bottom;
}
.tab1 .tabbt td {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.tab1 .tabjg {
	background-color: #f1f1f1;
}
.red {
	color: #FF0000;
}

.line {
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-left: 5px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCCCCC;
}
.3cut1 {
	padding: 5px;
	float: left;
	width: 32%;
	margin-top: 5px;
	margin-left: 5px;
	border: 1px dashed #CCCCCC;
}
.3cut2 {
	padding: 5px;
	width: 32%;
	margin-top: 5px;
	margin-left: 5px;
	border: 1px dashed #CCCCCC;
	float: left;
}
.3cut3 {
	padding: 5px;
	margin-top: 5px;
	border: 1px dashed #CCCCCC;
	float: left;
	margin-left: 5px;
	width: 32%;
}
.inputlong {
	border: 1px solid #979797;
	width: 300px;
	font-size: 12px;
}
.inputmid {
	border: 1px solid #979797;
	width: 150px;
	font-size: 12px;
}
.inputarea {
	border: 1px solid #979797;
	width: 300px;
	font-size: 12px;
}
.attention {
	margin: 5px;
	font-size: 12px;
	line-height: 20px;
	color: #FF0000;
	text-indent: 20px;
	background-image: url(../Images/page_attention.PNG);
	background-repeat: no-repeat;
	background-position: left center;
}
.Condition {
	font-size: 12px;
	line-height: 25px;
	color: #000000;
	background-image: url(../Images/page_search.png);
	background-repeat: no-repeat;
	background-position: left 3px;
	text-indent: 20px;
	margin: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
	font-weight: bold;
}
.info {
	font-size: 12px;
	line-height: 25px;
	color: #000000;
	background-image: url(../Images/page_fav.png);
	background-repeat: no-repeat;
	background-position: left 3px;
	text-indent: 20px;
	margin: 5px;
}
.pip {
	font-size: 12px;
	line-height: 25px;
	color: #000000;
	background-image: url(../Images/page_skin.png);
	background-repeat: no-repeat;
	background-position: left 3px;
	text-indent: 20px;
	margin: 5px;
}
.lock {
	font-size: 12px;
	line-height: 25px;
	color: #000000;
	background-image: url(../Images/page_safety.png);
	background-repeat: no-repeat;
	background-position: left 3px;
	text-indent: 20px;
	margin: 5px;
}
.card {
	font-size: 12px;
	line-height: 25px;
	color: #000000;
	background-image: url(../Images/card.png);
	background-repeat: no-repeat;
	background-position: left 3px;
	text-indent: 20px;
	margin: 5px;
}
.money {
	font-size: 12px;
	line-height: 25px;
	color: #000000;
	background-image: url(../Images/money.png);
	background-repeat: no-repeat;
	background-position: left 3px;
	text-indent: 20px;
	margin: 5px;
}.base {
	font-size: 12px;
	line-height: 25px;
	color: #000000;
	background-image: url(../Images/base.png);
	background-repeat: no-repeat;
	background-position: left 3px;
	text-indent: 20px;
	margin: 5px;
}
.history {
	font-size: 12px;
	line-height: 25px;
	color: #000000;
	background-image: url(../Images/history.png);
	background-repeat: no-repeat;
	background-position: left 3px;
	text-indent: 20px;
	margin: 5px;
}
