html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td
{
    margin: 0;
    padding: 0;
}
html, body
{    
    overflow: hidden;
    height: 100%;
}
body
{
    font-size: 12px;
    font-family: "宋体";
    border: 1px solid #99bbe8;
    overflow: auto;
}
.NavigationName
{
    font-weight: bold;
    color: #15428b;
    line-height: 24px;
    background-image: url(../Images/tbdi.gif);
    background-repeat: repeat-x;
    text-indent: 5px;
    border-bottom: 1px solid #99bbe8;
}
.Content
{
    border-bottom: 1px solid #aaaaff;
    background-color: #ddddff;
}
.ContentModule
{
    margin: 0 5px;
}
.Head
{
    height: 26px;
    line-height: 26px;
    background-image: url(../Images/card.png);
    background-repeat: no-repeat;
    background-position: left center;
    text-indent: 20px;
    font-weight: bold;
}
.IIRe
{
    padding: 5px;
    border: 1px solid #aaaaff;
    background-color: #FFFFFF;
}
.tb
{
    line-height: 25px;
    width: 98%;
}
.GVLayOut
{
    overflow: auto;
    width: 99%;     
    margin:0 auto;
    height:400px;
}
.inputmidder
{
    border: 1px solid #979797;
    width: 300px;
    font-size: 12px;
}
.input
{
    border: 1px solid #979797;
    width: 115px;
    font-size: 12px;
}
.tab1
{
    text-align: center;
    line-height: 20px;
    background-color: #FFFFFF;
}

.tab1 td
{
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: #ebebeb;
    border-bottom-color: #ebebeb;
}
.tab1 .tabbt
{
    font-weight: bold;
    background-image: url(../Images/grid-hrow.gif);
    background-repeat: repeat-x;
    background-position: bottom;
}
.tab1 .tabsel
{
    background-color: LightCyan;
    font-weight: bold;
    color: DarkBlue;
}
.tab1 .tabbt td
{
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.tab1 .tabbt th
{
    text-align: center;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    font-weight: bold;
    background-image: url(../Images/grid-hrow.gif);
    background-repeat: repeat-x;
    background-position: bottom;
}

.tab1 .tabjg
{
    background-color: #f1f1f1;
}

.tab1 .black
{
    background-color: black;
    color: White;
}
.tab1 .monitor
{
    background-color: #778899;
    color: White;
}

.tab1 .recycled
{
    background-color: #4169E1;
    color: White;
}

.tab1 .cancelled
{
    background-color: #B0C4DE;
    color: White;
}

.tab1 .error
{
    background-color: #FA8072;
    color: White;
}
.button1
{
    font-size: 12px;
    background-repeat: repeat-x;
    color: #000000;
    background-image: url(../Images/btn.GIF);
    padding-top: 2px;
    padding-right: 5px;
    padding-left: 5px;
    border: 1px solid #003C74;
    width: 75px;
    cursor: hand;
}

.message
{
    margin-left: 30px;
    list-style-type: disc;
}
.message li
{
    font-size: 15px;
    line-height: 25px;
    color: #000080;
}

.errormessage
{
    margin-left: 30px;
    list-style-type: disc;
}
.errormessage li
{
    font-size: 15px;
    line-height: 25px;
    color: #FF3300;
}