@charset "utf-8";

body {width: 960px; margin: 0 auto;}
.head { background: url(images/headbg.jpg) no-repeat center; height: 106px; padding: 45px 0;}
.head .logo { float: left; padding: 2px 0 0 70px; width: 210px; height: 100px; text-indent: -999em;}
.head .logo a { display: block; width: 100%; height: 100%;}

.search-card { clear: right; text-align: center;}
.search-card form {}
.search-card label { font: 500 15px/1.5 \5fae\8f6f\96c5\9ed1;}

.search-card input {}
.search-card select { height: 28px;   width: 120px; color: #666; font: 13px/13px arial;}
.search-card .input-txt { height: 12px; padding: 6px 8px; width: 120px; color: #666;}
.search-card .input-btn { color: #fff; background-color: #428bca; padding: 9px 25px; *padding: 7px 15px; font-size: 14px; line-height: 100%;  border-radius: 5px; border: 1px solid #357ebd; cursor: pointer;}
.search-card .input-btn:hover {background-color: #3276b1;}

.cards { margin: 18px auto; overflow: hidden;}
.cards h2 { font-size: 15px; font-weight: 500; text-align: center; font: 500 15px/1.5 \5fae\8f6f\96c5\9ed1; margin: 12px auto 18px;}
.cards ul { width: 1050px; overflow: hidden;}
.cards li { float: left; display: inline; margin-right: 90px; _width:170px;}
.cards li a {display: block;text-align: center;}
.cards li img {}
.cards li span { display: block; color: #161616; height: 28px; line-height: 28px;}

.list-prize {}
.list-prize .hd { height: 42px; line-height: 42px; background-color: #226f97;}
.list-prize .hd select { width: 80px; float: right; height: 22px; margin: 10px 10px 0 0;}
.list-prize .hd h2 { font: 500 20px/42px \5fae\8f6f\96c5\9ed1; color: #fff; text-indent: 18px;}
.list-prize .bd { margin-top: 10px;}
.list-prize .bd .tab {}
.tab .menu { height: 50px; line-height: 50px;}
.tab .menu li { color: #4484d2; font: 500 16px/50px \5fae\8f6f\96c5\9ed1;float: left;  width: 240px; text-align: center; border-bottom: 1px solid #dcdcdc; cursor: pointer;}
.tab .menu li a {color: #4484d2; font: 500 16px/50px \5fae\8f6f\96c5\9ed1;}
.tab .menu li span { font-family: arial;}
.tab .menu .active { color: #615f5f; border: 1px solid #dcdcdc; border-bottom: 0 none; width: 238px;}
.tab .menu .active a{ color: #615f5f;}
.tab .content { border: 1px solid #dcdcdc; border-top: 0 none; padding: 12px 15px 18px;}
.tab .content table { width: 100%;}
.tab .content table thead td { font: 700 14px/50px \5fae\8f6f\96c5\9ed1; color: #161616; text-align: center;}
.tab .content table tbody td { height: 30px; line-height: 30px; text-align: center; font-family: arial;}
.tr-hover {background-color: #f2faff;}
.double-tr {background-color: #e8f5fd;}

/*prize-yes*/
.prize-body { background: url(images/prize-bg.jpg) no-repeat center 40px;}
.prize-body .head {background: 0 none;}
.prize-body .head .logo { padding-left: 18px;}
.prize-box { width: 720px; margin: 100px auto 0;}
.prize-box .hd {background-color: #226f97; height: 42px; line-height: 42px;}
.prize-box .hd h2 {font: 500 20px/42px \5fae\8f6f\96c5\9ed1;  color: #FFF;  text-indent: 18px; width: 148px;}
.yes .hd h2 { background: url(images/smile.png) no-repeat right center; }
.no .hd h2 {background: 0 none;}
.prize-box .hd .back {float: right; margin-right: 18px; background: url(images/home-ico.png) no-repeat left center; text-indent: 35px; }
.prize-box .hd .back a { font: 500 14px/42px \5fae\8f6f\96c5\9ed1; color: #FFF;}
.prize-box .bd { clear: right; background-color: #fff; margin: 5px auto 50px;}
.prize-box .bd table { width: 100%; border: 1px solid #c9c9c9;}
.prize-box .bd table td {text-align: center;}
.prize-box .bd table thead td { font: 700 14px/40px \5fae\8f6f\96c5\9ed1; color: #161616;}
.prize-box .bd table tbody td { height: 30px; line-height: 30px;}
.prize-box .bd .prize-no { height: 165px; background-color: #f2dedf; border: 2px solid #eed3d7;}
.prize-box .bd .prize-no h3 { text-align: center; color: #ab3b32; font: 500 24px/165px \5fae\8f6f\96c5\9ed1; letter-spacing: 5px; background: url(images/sad.png) no-repeat 235px 65px; text-indent: 75px;}

/*prize-login0527*/
.head1 { background: url(images/headbg.jpg) no-repeat center; height: 106px; padding-bottom:10px;}
.head1 .logo { float: left; padding: 2px 0 0 70px; width: 210px; height: 100px; text-indent: -999em;}
.head1 .logo a { display: block; width: 100%; height: 100%;}
.prize-login { width: 720px; margin: 100px auto 0;}
.prize-login .bd { clear: right; background:url(images/l_bg.png) no-repeat; width:609px; height:267px; margin: 5px auto 100px;}
.prize-login .bd table {
	border: none;
	margin-top: 40px;
	;
	margin-left:-15px;
}
.prize-login .bd table td {text-align: right;}
.prize-login .bd table td input{ border:1px solid #ccc; height:24px; line-height:24px; width:150px; padding-left:5px;}
.prize-login .bd .bbt{ width:208px;
	height:32px;
	line-height:32px;
	background:url(images/l_btn.png) no-repeat left top;
	border:1px solid #f3f3f3;}
*+ .prize-login .bd .bbt{ width:208px;
	height:36px;
	line-height:36px;
	background:url(images/l_btn.png) no-repeat left top;
	border:1px solid #f3f3f3;}






/* Pagebar */
.pagebar {padding:18px 0 25px; text-align:center; line-height:22px;}
.pagebar li {display:inline;}
.pagebar .nolink {display:inline-block; height:22px; margin-right:2px; padding:0 6px; border:1px solid #eee; vertical-align:top; color:#ccc;}
.pagebar .ellipse {display:inline-block; height:22px; margin-right:2px; border:1px solid #fff; vertical-align:top; color:#ccc;}
.pagebar .c {font-weight:bold; color:#f60; border-color:#fff;}
.pagebar a {display:inline-block; height:22px; margin-right:2px; padding:0 6px; border:1px solid #ccc; vertical-align:top; color:#36c;}
.pagebar a:hover {background:#ffc; border-color:#f60; text-decoration:none; color:#f60;}
.pagebar a.nolink:hover {color:#ccc; border-color:#eee; background:none;}
.pagebar a.c:hover {font-weight:bold; color:#f60; border-color:#fff;}
.pagebar .inputbox {width:25px; height:22px; border:1px solid #e5e5e5; line-height:22px;}
.btn-page {width:40px; height:24px; border:none; background:url(http://www.szsmk.com/Skin/img/pagebtn.png) no-repeat 0 0; cursor:pointer;}

.footer {padding:20px 0 5px; border-top:2px solid #008dd4; line-height:24px; text-align:center;}
.footer a {color: #333;}
.prize-body .hde .prize-box {}

#divLottery { height:300px;text-align:center;margin:0 auto;padding-top:50px;padding-bottom:20px}
#btnLottery{height:60px;width:120px;background:#226F97;border-bottom-right-radius: 4px;border-bottom-left-radius:4px;border-top-right-radius:4px;border-top-left-radius;4px;
	border: 1px solid #d3d3d3;font-weight: normal;color: #555;display: inline-block;position: relative;cursor: pointer;vertical-align: middle;text-align: center;}
#progressbar{width:70%;text-align:center;margin:0 auto}
#divProgressbar{font-size:20px; }
#btnLottery .ui-button-text{font-size:20px;color:white } 
#divWinnerList{  padding-bottom:50px;}
#divWinnerList0{ text-align:center;margin:0 auto;padding-top:100px;font-size:30px}
.errormessage{font-size:15px;color:red;text-align:center;margin:0 auto;}
.message{font-size:15px;text-align:center;margin:0 auto;}
#txtCusname{width:100px}
.search-card .input-long {
height: 12px;
padding: 6px 8px;
width: 340px;
color: #666;
}
 
