/*! base.css*/
html{
  font-size: 37.5px;
  height: 100%;
  background: #fff;
}
body{
  background: #f6dd9f;
  background: -webkit-linear-gradient(top left, #fff, #f6dd9f);
  background: linear-gradient(to bottom right, #fff, #f6dd9f);
  line-height: 1.5;
  font-size: 28px;
  font-family:"microsoft yahei", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "simsun", arial, "sans-serif";
  color:#333;
  word-break: break-all;
  padding-bottom: 100px;
  min-height: 100%;
  /* -webkit-appearance: none; */
}

*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}
.clearfix::after, .card-box-main::after{
  content: ' ';
  display:  block;
  height: 0;
  clear: both;
}

a,button,input, canvas{outline:none}
input[type=text], textarea, input[type=submit]{-webkit-appearance:none;}
.clear{clear:both;}
.pull-left{float:left; }
.pull-right{float:right; }
.text-left{text-align: left !important;}
.text-center{text-align:center !important;}
.text-right{text-align: right !important;}
.text-ellipse{overflow: hidden;white-space: nowrap; text-overflow: ellipsis}
.text-nowrap{ white-space: nowrap }
.hide{ display:none; }
a{text-decoration:none;color:#333}
img, input, textarea, select, object, video, audio, svg{vertical-align:middle;}
ul, li, ol, dl, dt, dd{margin:0;padding:0;list-style:none;}

::-webkit-input-placeholder{
  color: #898989;
}

.round{
  border-radius: 200px;
  -webkit-border-radius: 200px;
}
.btn{
  background: #f05e4f;
  padding: 16px 60px;
  display: inline-block;
  color: #fff;
  border: none;
}
.btn + .btn{
  margin-left: 40px;
}
.btn-sm{
  padding: 10px 40px;
  font-size: 24px;
  background: #d85548;
}
.btn-block{
  display: block;
  width: 100%;
}
.btn-sm .icn{
  background: url(../images/btn.png) no-repeat;
  background-size: 102px 68px; 
  float: left;
  width: 34px;
  height: 34px;
  margin-right: 16px;
}
.btn-sm .icn-bag{
  background-position: -34px 0;
}
.btn-sm .icn-cancel{
  background-position: 0 -34px;
}
.btn-sm .icn-next{
  background-position: -34px -34px;
}
.btn-sm .icn-back{
  background-position: -68px 0;
}
.transition{
  transition: all .5s linear;
  -webkit-transition: all .5s linear;
}

.flex{
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.flex-none{
  flex: none;
  -webkit-flex: none;
}
.flex-auto{
  flex: auto;
  -webkit-flex: auto;
}
.flex-1{
  flex: 1;
  -webkit-flex: 1;
}
.flex-3-1{
  flex: 0 0 33%;
  -webkit-flex: 0 0 33%;
  width: 33%;
}



@media screen and (min-width: 768px){
  body > footer, body > section, .card-box-fixed{
    max-width: 1000px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  body > .popup{
    max-width: 920px;
  }
}

/*首页订单*/
.swiper-order .swiper-button-next, .swiper-order .swiper-button-prev{
  top: 35%;
  background: url(../images/arrow.png) no-repeat 0 0;
  background-size: 80px 40px;
  width: 40px;
  height: 40px;
}
.swiper-order .swiper-button-prev{
  left: 8px;
}
.swiper-order .swiper-button-next{
  right: 8px;
  background-position: -40px 0;
}
.swiper-slide{
  padding-top: 9px; /*no*/
  padding-bottom: 9px; /*no*/
}
.ka-item {
  margin-left: 52px;
  margin-right: 52px;
  padding: 15px 20px;
  display: block;
  background: rgba(255, 255, 255, .1);
  border: 1px solid rgba(252, 252, 252, 0.8); /*no*/
  -webkit-box-shadow: 0 0 9px rgba(0, 0, 0, .8); /*no*/
  box-shadow: 0 0 9px rgba(0, 0, 0, .8);/*no*/
  border-radius: 15px; /*no*/
  -webkit-border-radius: 15px;/*no*/
}
.ka-item-cover{
  background: rgba(255, 255, 255, .8);
  border-radius: 15px; /*no*/
  -webkit-border-radius: 15px;/*no*/
  padding-bottom: 10px; 
  position: relative;
  z-index: 5
}
.ka-item-cover img{
  border-radius: 15px; /*no*/
  -webkit-border-radius: 15px;/*no*/
}
.ka-item-main {
  width: 100%;
  padding: 80px 40px 20px;
  margin-top: -20px; /*no*/
  position: relative;
  background: #df981e;
  position: relative;
  z-index: 4;
  color: #fff;
  border-radius: 0 0 15px 15px; /*no*/
  -webkit-border-radius: 0 0 15px 15px;/*no*/
}
.ka-item-a .ka-item-main{
  background: #64a7f6;
}
.ka-item-line{
  background: url(../images/line.png) repeat-x;
  background-size: 606px 4px;
  height: 4px;
  opacity: .6;
  position: absolute;
  left: 0;
  right: 0;
  top: 55px;
}
.ka-item-mask{
  background: url(../images/covermask.png) no-repeat;
  background-size: 205px 104px;
  height: 104px;
  width: 205px;
  opacity: .13;
  position: absolute;
  right: 0;
  top: 20px;
}
.ka-order{
  height: 370px;
}
.ka-order-title{
  font-size: 26px;
}
.ka-order-title strong{
  font-weight: 100;
  color: #bb0000;
  margin-left: 10px;
}
.ka-item-a .ka-order-title strong{
  color: #2d4b6f
}
.ka-order-cn{
  font-size: 24px;
  margin-top: 20px;
  /* margin-bottom: 5px; */
  opacity: .45;
}
.ka-order-number{
  font-size: 46px;
  margin-bottom: 30px;
}
.ka-order-number span + span{
  margin-left: 18px;
}
.ka-order-complex{
  font-size: 24px;
  opacity: .75;
}
.ka-order-stats{
  margin-top: 1.5em; /*no*/
}
.ka-order-stats span{
  color: #bb0000;
  font-size: 26px;
  opacity: 1;
}
.ka-item-a .ka-order-stats span{
  color: #2d4b6f
}
.no-order-text{
  font-size: 30px;
  margin-top: 60px;
  color: #333;
}


.main-menu{
  margin: 0 auto 0;
  background: url(../images/mainmenuo.png) no-repeat 50%;
  background-size: contain !important; 
  width: 750px;
  height: 435px;
  padding-top: 15px;
  position: relative;
}
@media screen and (min-width: 540px){
  .main-menu{
    background: url(../images/mainmenu.png) no-repeat 50%;
  }
}
.main-menu .button{
  position: absolute;
  width: 170px;
  height: 62px;
  font-size: 0;
  /* background: rgba(252, 252, 252, 0.8); */
  z-index: 99;
}
.main-menu .one{
  top: 2.1rem;
  left: .6rem;
  transform: rotate(306deg);
  -webkit-transform: rotate(306deg);
}
.main-menu .two{
  top: .6rem;
  left: 2.5rem;
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
}
.main-menu .three{
  left: 5.1rem;
  top: .5rem;
  transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
}
.main-menu .four{
  top: 2.1rem;
  left: 7.1rem;
  transform: rotate(50deg);
  -webkit-transform: rotate(50deg)
}

.main-menu-shadow{
  position: absolute;
  width: 750px;
  height: 84px;
  background: url(../images/mainmenushadow.png) no-repeat;
  background-size: contain;
  opacity: .2;
  top: 0;
}


.footer{
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  z-index: 101;
}
.footer .button, .select-main-footer .button{
  display: block;
  background: #f05e4f;
  line-height: 100px;
  height: 100px;
  text-align: center;
  font-size: 40px;
  color: #fff;
  position: relative;
}
.buy-now{
  background: url(../images/buynow.png) no-repeat;
  background-size: contain;
  left: 50%;
  bottom: 48px;
  margin-left: -109px;
  width: 218px;
  height: 171px;
  position: absolute;
  color: #d15245;
  font-weight: 700;
  font-size: 42px;
  line-height: 2.2;
  text-align: center;
}

.global-nav{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  background: #f05e4f;
}
.global-nav li{
  text-align: center;
  height: 100%;
}
.global-nav li a{
  color: #fff;
  padding-top: 5px;
  font-size: 24px;
  display: block
}
.global-nav li a:active, .global-nav li.active a{
  background: #f26e61
}
.global-nav li span{
  display: block;
  width: 54px;
  height: 44px;
  margin: 0 auto;
  background: url(../images/nav.png) no-repeat;
  background-size: 216px 44px;
}
.global-nav .icn-board{
  background-position: -54px 0
}
.global-nav .icn-cart{
  background-position: -108px 0
}
.global-nav .icn-carts{
  background-position: -162px 0
}
.global-nav li strong{
  font-weight: 100;
}



/*可选套餐*/
.package{
  padding-top: 1px; /*no*/
}
.package .ka-item{
  margin-top: 28px;
  margin-bottom: 28px;
}
.package .package-item{
  padding-left: 10px;
  padding-right: 10px;
}

.package-item-label {
  position: relative;
  float: left;
  color: #704c0f;
  width: 116px;
  height: 133px;
  background: #fff;
  border-radius: 10px; /*no*/
  -webkit-border-radius: 10px; /*no*/
  padding: 1px 28px 0 0;
}
.ka-item-a .package-item-label{
  color: #4879b2;
}
.package-item-label i{
  font-size: 118px;
  font-style: normal;
  line-height: 1;
  float: right;
}
.package-item-label span{
  position: absolute;
  font-size: 20px;
  top: 58px;
  right: 20px;
  width: 10px;
  line-height: 24px;
}
.package-item-main{
  margin-left: 130px;
  height: 133px;
}
.package-item-title {
  margin: 8px 0;
  font-size: 27px;
  color: #bb0000;
}
.ka-item-a .package-item-title {
  color: #345882;
}
.package-item-stats{
  color: #fff;
  font-size: 24px;
}
.package-item-info{
  font-size: 24px;
  line-height: 1.6;
  padding-bottom: 10px;
  color: #fff;
  transform: scale(.65);
  -webkit-transform: scale(.65);
  transform-origin: left top;
  -webkit-transform-origin: left top;
}
.package-item-info p{
  margin: 10px 0;
}

/*功能选择*/
.branchs{
  padding: 10px 0 30px;
}
.branch  a{
  display: block;
  padding-top: 108px;
  text-align: center;
  width: 404px;
  height: 402px;
  background: url(../images/bran.png) no-repeat;
  background-size: 404px 402px;
  font-size: 0;
  margin: 50px auto 24px;
}
.branch  a  span{
  display: block;
  margin: 0 auto;
}
.branch .branch-auth span{
  width: 172px;
  height: 174px;
  background: url(../images/branchauth.png) no-repeat;
  background-size: 172px 174px;
}
.branch .branch-voucher span{
  width: 259px;
  height: 173px;
  background: url(../images/branchvoucher.png) no-repeat;
  background-size: 259px 173px;
}
.branch div{
  width: 420px;
  margin: 0 auto ;
  color: #7f6419;
  font-size: 24px;
}




/*优惠券购物车*/
.voucher-main{
  background: #fff;
  padding: 40px 20px 80px 44px;
  margin-bottom: 30px;
}
.voucher-cover{
  margin: 10px 60px 10px 40px;
}
.voucher-title{
  margin: 30px 0;
  font-size: 26px;
}
.voucher-price{
  color: #f05e4f;
  margin-right: 20px;
}
.voucher-info{
  color: #656565;
  font-size: 24px;
}
.voucher-info-hd{
  margin-bottom: 10px;
}
.voucher-rule{
  margin-bottom: 30px;
}
.voucher-spot span{
  color: #097be2;
  margin-right: 10px;
}






/*购物车 card-box*/
.cart{
  padding-top: 120px;
}
.card-box{
  background: #fff;
  padding: 20px;
  line-height: 50px;
  margin-bottom: 30px;
}
.card-box-fixed{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 101;
}
.card-box-opposite{
  background: #f8d2ce
}
.card-box-main{
  margin-left: 60px;
  margin-right: 20px;
  display: block;
}
.card-box-label{
  font-size: 30px;
}
.card-box-main.warn-text{
  line-height: 1.5;
  margin-top: 4px;
  color: #656565;
}
.card-box-main + .card-box-main {
  margin-top: 60px;
}
.card-box .checkbox{
  float: left;
  -webkit-appearance: none;
  border: none;
  background: url(../images/check.png) no-repeat;
  background-size: 162px 44px;
  width: 44px;
  height: 44px;
  margin-left: 8px;
}
.card-box .checkbox-default{
  background-position: -108px 0;
}
.card-box .checkbox:checked{
  background-position: -54px 0;
}
.card-box .radio{
  -webkit-appearance: none;
  background: url(../images/radio.png) no-repeat;
  background-size: 72px 44px;
  width: 36px;
  height: 44px;
  border: none;
}
.card-box .radio:checked{
  background-position: -36px 0;
}
.radio-label{
  color: #898989;
}
.radio-label + .radio-label{
  margin-left: 20px;
}
.card-box-icn{
  float: left;
  background: url(../images/order.png) no-repeat;
  background-size: 440px 44px;
  width: 44px;
  height: 44px;
  margin-left: 8px;
}
.card-box .icn-rmb{
  background-position: -44px 0;
}
.card-box .icn-edit{
  background-position: -88px 0;
}
.card-box .icn-card{
  background-position: -132px 0;
}
.card-box .icn-loc{
  background-position: -176px 0;
}
.card-box .icn-abacus{
  background-position: -220px 0;
}
.card-box .icn-warn{
  background-position: -264px 0;
}
.card-box .icn-note{
  background-position: -308px 0;
}
.card-box .icn-piggy{
  background-position: -352px 0;
}
.card-box .icn-coupon{
  background-position: -396px 0;
}
.card-box .del-card{
  height: 44px;
  width: 32px;
  background: url(../images/del.png) no-repeat 0 0;
  background-size: 32px 44px;
  border: none;
  font-size: 0;
}


.commodity-cate .commodity-item:not(:last-child){
  margin-bottom: 0;
  border-bottom: 1px solid #eee;
}
.commodity-cate-hd{
  background: -webkit-linear-gradient(top,#ffb448,#ff9948);
  background: linear-gradient(to bottom,#ffb448,#ff9948);
  line-height:60px;
  padding: 10px 20px;
  color: #fff;
  font-size: 32px;
}
.commodity-cate-hd span{
  background: url(../images/cate.png) no-repeat;
  background-size: 120px 50px;
  width: 60px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}
.commodity-cate-hd .icn-tag{
  background-position: -60px 0;
}
.commodity-item-total{
  margin-bottom: 30px;
  font-size: 30px;
}
.commodity-item-bar{
  border-top: 1px dashed #ccc; /*no*/
  font-size: 26px;
  margin-top: 16px;
  padding: 10px 0 20px;
}
.commodity-item-title, .commodity-item-prepare{
  color: #656565;
}
.commodity-item-price, .commodity-item-holder{
  color: #898989
}
.commodity-item-name, .commodity-item-phone{
  margin-left: 20px;
}
.commodity-total-price{
  color: #f05e4f;
}
.commodity-item-det p{
  margin: 0;
  color: #898989;
  font-size: 24px;
  line-height: 1.6;
}
.commodity-item-det p:last-child{
  margin-bottom: 10px;
}

/*卡订单*/
.card-info{
  background: #fff;
  padding: 40px 40px 36px;
  border-bottom: 1px solid #eee;/*no*/
}
.card-info-cover{
  width: 185px;
  height: 120px; 
  margin-left: 40px;
}
.card-info-cover img{
  border-radius: 5px; /*no*/
  -webkit-border-radius: 5px; /*no*/
}
.card-info-main{
  margin-left: 260px;
}
.card-info-title{
  font-size: 30px;
  color: #4a4a4a;
}
.card-info-desc{
  font-size: 24px;
  color: #898989;
  transform: scale(.9);
  -webkit-transform: scale(.9);
  transform-origin: left top;
  -webkit-transform-origin: left top;
}
.card-info-price{
  font-size: 30px;
  color: #f05e4f;
}
.buyer-info{
  background: #faebc8;
  color: #4a4a4a;
  padding: 20px 50px;
  margin: 10px 18px 10px;
  border-radius: 5px; /*no*/
  -webkit-border-radius: 5px; /*no*/
}
.buyer-info span, .card-total-desc{
  color: #898989;
}
.card-prepay-lst span{
  margin-right: 30px;
  color: #898989;
}
.card-prepay-lst .radio-label{
  color: #4a4a4a;
}
.card-prepay-lst .radio-label input{
  margin-left: 20px;
}
.card-prepay-tip{
  font-size: 24px;
  color: #fe0101;
  transform: scale(.9);
  -webkit-transform: scale(.9);
  transform-origin: left top;
  -webkit-transform-origin: left top;
}
.card-prepay{
  margin-bottom: 0;
  padding-bottom: 0;
}
.card-vouch{
  margin-bottom: 0;
  border-bottom: 1px solid #eee; /*no*/
}
.card-total-price {
  color: #f05e4f;
}
.card-vouch-no span{
  color: #898989;
  padding-top: 5px;
  display: inline-block
}
.card-vouch-no input{
  width: 360px;
  border: 1px solid #ccc; /*no*/
  border-radius: 5px;  /*no*/
  -webkit-border-radius: 5px;  /*no*/
  padding: 10px 20px;
}
.card-vouch-no .btn{
  padding: 5px 52px;
}





/*订单确认*/
.order-header{
  height: 200px;
  background: -webkit-linear-gradient(left, #eeb0c8, #f2d87b);
  background: linear-gradient(to right, #eeb0c8, #f2d87b);
  background: #f1b7c2;
}
.order-header .cloud{
  float: left;
  background: url(../images/cloud.png) no-repeat;
  background-size: 158px 70px;
  width: 158px;
  height: 70px;
  margin-left: 40px;
}
.order-header .car{
  float: right;
  background: url(../images/car.png) no-repeat;
  background-size: 276px 158px;
  width: 276px;
  height: 158px;
  margin: 20px 30px;
}
.order-message{
  margin: 10px 0;
}
.order-message textarea{
  border: 1px solid #ccc; /*no*/
  padding: 20px;
  width: 100%;
  height: 88px;
  resize: none;
  overflow: hidden;
  line-height: 44px;
  border-radius: 5px; /*no*/
  -webkit-border-radius: 5px; /*no*/
}
.order-message textarea:focus{
  height: auto;
  overflow: auto;
}
.order-self-pick{
  margin: -20px 40px 30px;
}
.order-self-pick a{
  color: #f05e4f;
  text-decoration: underline;
  font-size: 24px;
}
.order-tobe-pay{
  padding: 0 20px;
  margin-bottom: 30px;
}
.address-item-det, .commodity-item-det{
  padding-right: 60px;
  background: url(../images/arr.png) no-repeat 100% 50%;
  background-size: 18px 34px;
}
.address-item-span{
  color: #656565;
}
.address-item-bar{
  font-size:  24px;
  color: #898989;
  border-top: 1px dashed #ccc; /*no*/
  padding-top: 10px;
  
  margin-top: 15px;
}
.address-item-bar span::before{
  margin: 0 6px 0 30px;
  background: url(../images/address.png) no-repeat;
  background-size: 64px 32px;
  content: ' ';
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
}

/*地址管理*/
.address{
  padding-top: 30px;
}
.address form{
  display: block;
  background: #fff;
  padding: 5px 32px 80px;
}
.address .form-group{
  margin: 20px 0;
}
.address .form-group label{
  float: left;
  width: 145px;
  font-size: 28px;
  margin-top: 14px;
}
.address .control-group{
  margin-left: 150px;
  position: relative;
}
.control-loc{
  background: url(../images/loc.png) no-repeat 96% 50%;
  background-size: 30px 44px;
}
.control-clear{
  position: absolute;
  right: 20px;
  top: 24px;
  display: none;
  background: #f4f4f4;
  height: 28px;
  line-height: 28px;
  border-radius: 20px; /*no*/
  -webkit-border-radius: 20px; /*no*/
  width: 28px;
  text-align: center;
}
.address .form-control{
  border: 1px solid #ccc; /*no*/
  border-radius: 5px; /*no*/
  -webkit-border-radius: 5px; /*no*/
  padding: 15px 25px;
  width: 100%;
  color: #898989;
  box-shadow: none;
  -webkit-box-shadow: none;
  -webkit-appearance: none;
}
.address-submit{
  margin: 60px 136px;
}
.address-submit .btn::before, .pay-sc-ext > .btn::before{
  content: " ";
  width: 36px;
  height: 33px;
  background: url(../images/btnsave.png) no-repeat;
  background-size: 72px 33px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px; 
}
.pay-sc-ext > .btn::before{
  background-position: -36px 0;
}


/*支付方式*/
.pay-type{
  background: -webkit-linear-gradient(top,#ffb448,#ff9948);
  background: linear-gradient(to bottom,#ffb448,#ff9948);
  padding: 32px;
  margin-top: -155px;
  text-align: center;
  border-radius: 10px; /*no*/
  -webkit-border-radius: 10px; /*no*/
}
.pay-type a{
  display: inline-block;
  font-size: 24px;
  color: #fff;
  margin: 0 10px;
}
.pay-type a::before{
  content: ' ';
  width: 132px;
  height: 132px;
  background:url(../images/pay.png) no-repeat;
  background-size: 264px;
  display: block;
  margin-bottom: 10px;
  border-radius: 10px; /*no*/
  -webkit-border-radius: 10px; /*no*/
  transition: all .3s linear; 
}
.pay-type .alipay::before{
  background-position: -132px 0;
}
.pay-weixin .weixin::before{
  background-color: #fff;
  background-position: 0 -132px;
}
.pay-alipay .alipay::before{
  background-color: #fff;
  background-position: -132px -132px;
}

/*支付成功*/
.pay-sc-main{
  padding: 80px 0 100px;
  background: #fff;
  font-size: 30px;
  line-height: 1.6;
}
.pay-sc-main a{
  text-decoration: underline;
  font-size: 26px;
  color: #f05e4f;
}
.pay-sc-fence{
  background: url(../images/payfence.png) repeat-x;
  background-size: 81px 16px;
  height: 16px;
}
.pay-sc-ext{
  color: #7d7d7d;
  font-size: 26px;
  padding: 80px 136px;
}
.pay-sc-ext p{
  margin-bottom: 44px;
}
.pay-sc-cloud{
  background: url(../images/paycloud.png);
  background-size: 293px 199px;
  width: 293px;
  height: 199px;
  margin: 0 auto;
}
.pay-sc-break{
  background: url(../images/paybreak.png);
  background-size: 93px 98px;
  width: 93px;
  height: 98px;
  margin: 0 auto;
}



/*取卡地址、可去景点*/
.loc-lst{
  padding-bottom: 100px;
  background: #fff;
}
.loc-item{
  border-bottom: 1px solid #ccc; /*no*/
  padding: 30px 64px;
  font-size: 24px;
  color: #6c6c6c;
  display: block;
}
.loc-item-hd{
  font-size: 30px;
  color: #656565
}
.loc-item-bd label{
  color: #3f3e3e;
}
.loc-item-bd span{
  margin: 0 12px;
}


/*身份验证*/
.auth{
  /* position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch; */
}
.auth-top{
  background: #f3f3f3;
  padding: 1px 0; /*no*/
}
.auth-top-info, .auth-bottom-title{
  margin: 30px 0;
  font-size: 28px;
  padding-left: 80px;
}
.auth .form-group{
  margin: 30px 0;
}
.auth .form-control{
  background: #fff;
  padding-left: 80px;
  height: 84px;
  border: none;
  width: 100%;
}
.auth-avatar-upload{
  margin: 0 125px;
}
.auth-avatar-hold{
  background: #9a7e78;
  height: 355px;
  padding-top: 38px;
}
.auth-avatar-pic{
  width: 223px;
  height: 284px;
  background: url(../images/avatar.png) no-repeat;
  background-size: 223px 284px; 
  margin: 0 auto;
  padding: 7px;
}
.auth-avatar-text{
  color: #fff;
  font-size: 28px;
  text-align: center;
  margin-top: 15px;
}
.auth-avatar-info{
  color: #898989;
  font-size: 24px;
  margin: 10px 0;
}
.auth-avatar-control{
  border: none;
  border-left: 1px solid #e5d8b8; /*no*/
  border-top: 1px solid #e5d8b8; /*no*/
  height: 84px;
  position: relative;
  background: #fff;
  margin-bottom: 20px;
  border-radius: 5px; /*no*/
  -webkit-border-radius: 5px; /*no*/
}
.auth-avatar-control:before{
  display: block;
  color: #fb6501;
  font-size: 28px;
  content: "我的照片";
  margin: 20px 0 0 28px;
}
.auth-avatar-control input{
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}
.auth-ready{
  background: #fff;
  padding: 30px 0 30px 80px;
}
.auth-ready p{
  margin: 10px 0;
}


.intro{
  padding: 10px;
}





/*横条 +　弹出选择框*/
.select-box{
  background: #fff;
  padding: 20px;
  line-height: 50px;
  margin-bottom: 30px;
}
.select-box-label{
  color: #898989;
  font-size: 24px;
  padding-left: 24px;
  width: 120px;
}
.select-box-more{
  width: 38px;
  height: 8px;
  background: url(../images/more.png) no-repeat;
  background-size: 38px 8px;
  margin-top: 20px; 
  margin-left: 20px;
}
.select-main{
  background: #fff;
  position: fixed;
  left: 0;
  right: 0;
  bottom: -100%;
  z-index: 202
}
.select-main.active{
  bottom: 0;
}
.select-main-hd{
  height: 180px;
  border-bottom: 1px solid #e8eaed; /*no*/
  padding: 20px
}
.select-option-cover{
  float: left;
  height: 200px;
  width: 200px;
  border: 1px solid #e8eaed; /*no*/
  margin-top: -60px;
  background: #fff;
  padding: 44px 26px;
  border-radius: 10px; /*no*/
  -webkit-border-radius: 10px; /*no*/
}
.select-option-m{
  margin-left: 230px;
  margin-right: 40px;
  color: #898989;
  font-size: 24px;
}
.select-option-price{
  font-size: 32px;
  color: #f05e4f;
  margin-top: 10px;
}
.select-option-title{
  font-size: 30px;
  color: #000;
}
.select-main-close{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 48px;
  color: #898989;
}
.select-main-bd dl{
  margin: 20px 20px 40px;
}
.select-main-bd dt{
  color: #656565;
}
.select-main-bd .button{
  padding: 8px 30px;
  margin-top: 10px;
  display: inline-block;
  border: 1px solid #c1c2c4; /*no*/
  border-radius: 5px; /*no*/
  -webkit-border-radius: 5px; /*no*/
}
.select-main-bd .button.active{
  border-color: #f05e4f;
  color: #f05e4f
}
.select-main-bd .button + .button{
  margin-left: 20px;
}
.select-mask, .popup-mask, .modal-mask{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .33);
  z-index: 201;
  display: none;
}
/*popup*/
.popup-mask-darken{
  background: rgba(0, 0, 0, .1)
}
.popup{
  background: #fff;
  padding: 60px 40px;
  position: fixed;
  left: 10%;
  right: 10%;
  top: -120%;
  z-index: 202;
  border-radius: 10px; /*no*/
  -webkit-border-radius: 10px; /*no*/
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); /*no*/
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); /*no*/
}
.popup-darken{
  background: -webkit-linear-gradient(top, #3c5166, #3d4b61);
  background: linear-gradient(to bottom,  #3c5166, #3d4b61);
  left: 15%;
  right: 15%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); /*no*/
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); /*no*/
}
.popup-darken .btn-sm{
  background: #6c83a2;
  padding: 5px 52px;
}
.popup.active{
  top: 30%;
}
.popup-content{
  margin-bottom: 52px;
  font-size: 30px;
}
.popup .full-link{
  display: block;
  margin: 0 -40px;
  color: #f05e4f;
  border-top: 1px solid #ccc;
  padding: 20px 0;
}
.popup .full-link.sec-link{
  color: #898989;
}

/*modal*/
.modal-mask {
  display: block;
  z-index: 301;
}
.modal-main {
	-webkit-user-select: none;
	position: fixed;
	top: 30%;
	left: 50%;
	z-index: 305;
	text-align: center;
	line-height: 32px;
	font-size: 28px;
	color: #000
}

.modal-header {
	padding: 20px 20px 10px;
	font-size: 32px;
	font-weight: 700;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 10px 10px 0 0; /*no*/
}

.modal-content {
	padding: 5px 10px 20px;
	background-color: rgba(255, 255, 255, 1);
}

.modal-action {
	color: #007aff;
	font-weight: 700;
	border-top: 1px solid #eee; /*no*/
	line-height: 86px;
	font-size: 32px;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 0 0 10px 10px; /*no*/
}

.modal-action span {
	display: inline-block;
	color: #007aff;
	text-decoration: none;
	width: 50%
}

.modal-action .modal-action-ok {
	font-weight: 100
}

.modal-action .modal-action-ok::after {
	content: ".";
	display: block;
	font-size: 0;
	float: left;
	border-left: 1px solid #eee;/*no*/
}

.modal-modern {
	background: #000;
	line-height: 100px;
	color: #fff;
	border-radius: 10px; /*no*/
}

.modal-modern .loading{
	background: url(../images/loading.gif) no-repeat 50%;
  content: ' ';
	font-size: 0;
	height: 80px; /*no*/
	display: block;
	background-size: 60px; /*no*/
}

/*jnunber*/
.jnumber-reduce, .jnumber-plus{
  border: 1px solid #d8d8d8; /*no*/
  display: inline-block;
  font-size: 15px; /*no*/
  padding: 0 5px; /*no*/
  line-height: 20px; /*no*/
  width: 22px; /*no*/
  vertical-align: middle;
}
.jnumber-reduce.disabled, .jnumber-plus.disabled{
  color: #898989
}
.jnumber-reduce{
  border-radius: 3px 0 0 3px; /*no*/
}
.jnumber-plus{
  border-radius: 0 3px 3px 0; /*no*/
}
.jnumber-input{
  border: none;
  border-bottom: 1px solid #d8d8d8; /*no*/
  border-top: 1px solid #d8d8d8; /*no*/
  height: 22px; /*no*/
  width: 30px; /*no*/
  text-align: center;
  border-radius: 0;
  -webkit-border-radius: 0;
}
.jnumber-info{
  float: left;
  font-size: 12px;  /*no*/
  color: #f05e4f;
  margin-right: 10px;  /*no*/
}