<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <section name="SysInfosSection" type="SSO.SysInfosSection"/>
  </configSections>
  <!-- 单点登录 子系统信息-->
  <SysInfosSection>
    <SysInfos>
      <add sysName="onecard" staffTable="TD_M_INSIDESTAFF"
             loginURL="/LogonSSO.aspx"
             logoutURL="/Logout.aspx"/>
      <add sysName="smk" staffTable="TD_M_INSIDESTAFF1"
            loginURL="http://172.17.2.3/smk/LogonSSO.aspx"
            logoutURL="http://172.17.2.3/smk/Logout.aspx"/>
    </SysInfos>
  </SysInfosSection>
  <log4net>
    <root>
      <!--<priority value="ALL"/>-->
      <!--<appender-ref ref="TraceAppender"/> 
      <appender-ref ref="ConsoleAppender"/>-->
      <!--<appender-ref ref="RollingFileAppender"/>--> 
    </root>
    <!--<appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>-->
    <logger name="ExpLog">
      <priority value="ALL"/>
      <appender-ref ref="ExpLogAppender" /> 
    </logger>
    <logger name="AppLog">
      <priority value="ALL"/>
      <appender-ref ref="AppLogAppender" />
    </logger>
    <appender name="AppLogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\\AppLog.txt"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="20"/>
      <maximumFileSize value="5MB"/>
      <rollingStyle value="Size"/>
      <staticLogFileName value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <appender name="ExpLogAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\\ExpLog.txt"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="20"/>
      <maximumFileSize value="5MB"/>
      <rollingStyle value="Size"/>
      <staticLogFileName value="true"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
  </log4net>
  <system.web>
    <!--上传文件大小控制，上传超时控制-->
    <httpRuntime maxRequestLength="500000" useFullyQualifiedRedirectUrl="true" executionTimeout="300"/>
    <sessionState mode="InProc" timeout="12000" stateNetworkTimeout="7200" />
    <!--<sessionState mode="StateServer" stateConnectionString ="tcpip=127.0.0.1:42424" timeout="12000" stateNetworkTimeout="7200" />-->
    <customErrors mode="Off"/>
    <pages enableEventValidation= "false" validateRequest="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
        <add namespace="Controls.Customer.Asp" tagPrefix="aspControls"/>
      </controls>
    </pages>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </httpModules>
    <machineKey validationKey="B8CEF0C74E23E7197FCC4C9E3617C0007D94D43C7F7A79C582C54B95D69B946DFD49CAF5AA72F9A8CA2CBA040A9DF64DC1DF90DAE1214AE4F1AB7FA56DD65C0D" decryptionKey="D7F1CE31847C4FB31EF51E14F3820D52B659AF8523FC932C03506CC075DB8B28" validation="SHA1" decryption="AES" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <!-- Uncomment this line to customize maxJsonLength and add a custom converter -->
        <!--
      <jsonSerialization maxJsonLength="500">
        <converters>
          <add name="ConvertMe" type="Acme.SubAcme.ConvertMeTypeConverter"/>
        </converters>
      </jsonSerialization>
      -->
        <!-- Uncomment this line to enable the authentication service. Include requireSSL="true" if appropriate. -->
        <!--
        <authenticationService enabled="true" requireSSL = "true|false"/>
      -->
        <!-- Uncomment these lines to enable the profile service. To allow profile properties to be retrieved
           and modified in ASP.NET AJAX applications, you need to add each property name to the readAccessProperties and
           writeAccessProperties attributes. -->
        <!--
      <profileService enabled="true"
                      readAccessProperties="propertyname1,propertyname2"
                      writeAccessProperties="propertyname1,propertyname2" />
      -->
      </webServices>
      <!--
      <scriptResourceHandler enableCompression="true" enableCaching="true" />
      -->
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
  </system.webServer>
  <connectionStrings>
    <!--<add name="connStr" connectionString="Data Source=D9D085B92E4A441\DZH;Initial Catalog=DZH;Persist Security Info=True;User ID=sa;pwd=manager;Database=USER;Max Pool Size=10;Min Pool Size=1;Connection Timeout=30" providerName="System.Data.SqlClient"/>-->
    <!--<add name="connStr" connectionString="Provider=SQLOLEDB.1;Data Source=D9D085B92E4A441\DZH;Initial Catalog=USER;Persist Security Info=True;User ID=sa;pwd=manager;Database=USER;Max Pool Size=10;Min Pool Size=1;Connection Timeout=30"/>-->
    <!--<add name="connStr" connectionString="Provider=Sybase.ASEOLEDBProvider.2;Server Name=mpc,5000;Initial Catalog=onecard;Persist Security Info=True;User ID=onecard;pwd=onecard;Database=onecard;Max Pool Size=10;Min Pool Size=1;Connection Timeout=30"/>-->
    <!--<add name="connStr" connectionString="provider=OraOLEDB.Oracle.1;Data Source=onecard;Persist Security Info=True;Password=onecard;User ID=onecard;PLSQLRSet=true;OLEDB.NET=true;Max Pool Size=10;Min Pool Size=1;Connection Timeout=30" providerName="System.Data.OracleClient"/>-->
    <add name="connStr" connectionString="Data Source=SZT172.17.1.24;Persist Security Info=True;Password=B1CE75512963C0445AD6784C766A8277;User ID=ucrapp_b_sz;Max Pool Size=100;Min Pool Size=5;Pooling=true"/>
      <!--<add name="connStr" connectionString="Data Source=szzsk;Persist Security Info=True;Password=7B433CAEECA7A9B63CCD61A712F7E4CA;User ID=Uopapp_B_SZ;Max Pool Size=150;Min Pool Size=5;Pooling=true"/>-->
  </connectionStrings> 
  <appSettings>  
    <add key="Path" value="D:\Work\SZ_Github\OneCard\"/>
    <add key="ChargeCardUser" value="chargecard"/>
    <add key="DataBaseType" value="Oracle"/>
    <add key="LoginServer" value="/onecard"/>
    <add key="EncryptType" value="0"/>
    <add key="publicKeyFile" value="../../Resources/czcpublicKey.pub"/>
    <add key="RelaxServiceURL" value="http://192.168.8.65:38180/services/smkWS"/>
	<add key="LoginNewServer" value="http://172.16.6.86:8081/"/>
    <!--张家港衍生卡信息同步接口地址-->
    <add key ="WebSvcCallerURL" value="http://10.128.6.134:13401/esb_launcher/esbwebservice/SXFrameInvokeService"/>
    <add key="LibraryURI" value="http://15.15.16.234:7878/SMCardWebService/services/SzlibServiceHandler" />
  <!--Loki外挂-->
    <add key="Loki.URI" value="http://192.168.4.3:50102/"/> 
    <add key="Loki.SlowQuery" value="true"/>
	<!--缴费-->
	<add key="QueryUrl" value="http://192.168.4.3:50102/ActiveMq/Query?format=json"/>
    <add key="PayUrl" value="http://192.168.4.3:50102/ActiveMq/Pay?format=json"/>
    <add key="TokenKey" value="1122334455"/>
  

    <add key="ZZOrderCardQueryUrl" value="http://61.155.179.185:5001/interface/orderCardQuery"/>
    <add key="ZZOrderCardCountUrl" value="http://61.155.179.185:5001/interface/orderCardCount"/>
    <add key="ZZOrderDistrabutionUrl" value="http://61.155.179.185:5001/interface/orderDistrabution"/>
    <add key="ZZOrderListDistrabutionUrl" value="http://61.155.179.185:5001/interface/orderListDistrabution"/>
    <add key="ZZOrderChangeUrl" value="http://61.155.179.185:5001/interface/orderstatechangenotice"/>
    <add key="ZZGetPhotoUrl" value="http://61.155.179.185:5001/interface/GetPhoto"/>
    <add key="ZZTokenKey" value="4F9CBD7B-4C7C-4ACB-89C0-E760A18E0ADC"/>
  </appSettings>
</configuration>
   